<div class="login-page-container">
  <div class="login-box">
    <img src="../../../assets/screw.png" />
    <img src="../../../assets/screw.png" />
    <img src="../../../assets/screw.png" />
    <img src="../../../assets/screw.png" />
    <p class="text-center text-gray-700 text-3xl font-bold">Resetowanie hasła</p>
    <div class="credentials">
      <input type="text" [(ngModel)]="loginValue" placeholder="Login" />
      <p-password
        #password
        placeholder="Hasło"
        [(ngModel)]="passwordValue"
        [feedback]="false"
        [toggleMask]="true"
        [style]="{ width: '100%' }"
        [inputStyle]="{ width: '100%', borderRadius: '6px', padding: '4px', marginBottom: '8px', marginTop: '8px' }"
        (keyup.enter)="setNewPassword()"
      />
      <p-password
        #password
        placeholder="Powtórz hasło"
        [(ngModel)]="password2Value"
        [feedback]="false"
        [toggleMask]="true"
        [style]="{ width: '100%' }"
        [inputStyle]="{ width: '100%', borderRadius: '6px', padding: '4px' }"
        (keyup.enter)="setNewPassword()"
      />
    </div>
    <div class="buttons">
      <button class="button-red" (click)="setNewPassword()">Ustaw hasło</button>
    </div>
  </div>
</div>
